.header {
  font-weight: 700;
  position: fixed;
  z-index: 999;
  width: 100%;
  font-family: var(--font-family-header);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header__img {
}

.header__logo {
}

.header__nav {
  ul {
    display: flex;
    text-transform: uppercase;
    gap: 15px;

    a {
      transition: 0.2s;
    }

    a:hover {
      color: var(--brown-color);
    }
  }
}

.header__city-social {
  display: flex;
  gap: 50px;
  align-items: center;
  position: relative;
}

.header__city {
  position: relative;
  padding-left: 50px;
  color: var(--brown-color);
}

.header__city:hover .header__cities {
  display: flex;
  flex-direction: column;
  gap: 5px;

  background-color: var(--header-color);
  padding: 10px;
  border-radius: 10px;
}

.header__city-name::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid var(--brown-color);
  top: 11px;
  left: 113px;
}

.header__cities {
  position: absolute;
  display: none;

  li {
    transition: 0.2s;
  }

  li:hover {
    transform: scale(115%);
  }
}

.header__social {
  display: flex;
  gap: 5px;
  position: relative;
  top: 2px;

  a {
    transition: 0.2s;

    &:hover {
      transform: scale(110%);
    }
  }
}

.header__right {
  display: flex;
  gap: 20px;
}

.header__phone {
  display: flex;
  align-items: center;
  transition: 0.2s;

  &:hover {
    color: var(--brown-color);
  }
}

.btn {
  background-color: var(--header-color);
  border: 2px solid var(--green-color);
  color: var(--green-color);
  padding: 16px;
  border-radius: 7px;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var(--green-color);
    color: var(--green-white);
  }
}

.header__adaptive {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 1203px) {
  .header__menu {
    gap: 20px;
  }
  .header__social {
    display: none;
  }
  .header__nav {
    display: none;
  }
}
@media (max-width: 977px) {
  .header__social {
    display: inherit;
  }
  .header__nav {
    display: block;
  }
  .header__menu {
    display: none;
  }

  .burger {
    @include burger;
  }

  .header__adaptive {
    transform: translateX(-100%);
    display: block;
    transition: transform 0.5s ease-in-out;
  }

  .header__adaptive-content {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    background-color: var(--header-color);

    border-radius: 10px;
  }

  .header__adaptive-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .header__nav {
    ul {
      flex-direction: column;
      align-items: center;
      font-size: 40px;
      gap: 20px;
    }
  }
  .header__city-social {
    justify-content: space-between;
    margin-top: 100px;
  }
  .header__city-name {
    font-size: 30px;
  }
  .header__city-name::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 14px solid var(--brown-color);
    top: 10px;
    left: 133px;
  }
  .header__cities {
    position: absolute;
    display: none;
    font-size: 25px;

    li {
      transition: 0.2s;
      padding-bottom: 10px;
    }

    li:hover {
      transform: scale(105%);
    }
  }
  .header__social {
    font-size: 20px;
    p {
      position: relative;
      top: 3px;
    }
    .header__social-vk-yt {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .menu--active {
    display: block;
    width: 100%;
    transform: none;

    transition: transform 0.5s ease-in-out;
  }
}

@media (max-width: 312px) {
  .header__adaptive-top {
    justify-content: center;
    gap: 10px;
  }
  .header__city-social {
    flex-wrap: wrap;
    justify-content: center;
    right: 20px;
  }
  .header__city {
    display: none;
  }
}
