.graph-modal {
}
.graph-modal__container {
  background-color: var(--header-color);
}
.js-modal-close {
  font-size: 40px;
}
.graph-modal__close {
}
.graph-modal__content {
}

.padding-modal {
  padding-top: 0;
}
