<div id="contacts" class="contacts">
  <picture>
    <img loading="lazy" src="img/whiteshadow.png" class="whiteshadow" width="80%" height="80%" alt="#">
  </picture>
  <div class="container">
    <div class="contacts__top">
      <h4 class="contacts__title">Контакты
      </h4>
      <div class="contacts__tel">
        <p>Телефон</p>
        <a href="tel:+79035435422">+7 903 543 54 22
        </a>
      </div>
      <div class="contacts__time">
        <p>Режим работы</p>
        <span>c 10:00 до 22:00</span>
      </div>
      <div class="contacts__social">
        <p>Социальные сети</p>

        <div class="contacts__social-link">
          <a href="#">
            <img loading="lazy" src="img/svg/vk.svg" class="image" width="40px" height="40px" alt="vk">
          </a>
          <a href="#">
            <img loading="lazy" src="img/svg/yt.svg" class="image" width="40px" height="40px" alt="yt">
          </a>
        </div>
      </div>
    </div>
    <div class="contacts__bottom">
      <div class="contacts__address">
        <p>м.«Киевская», <br>
          улица Ленина, 30/2</p>
        <p>м.«Китай-город», <br>
          улица тестовая, 2</p>
        <p>м.«Алтуфьево», <br>
          улица Южная, 32</p>
        <p>м.«Новокосино», <br>
          улица Деревенская, 35/3</p>
        <p>м.«Китай-город», <br>
          улица тестовая, 2</p>
      </div>

    </div>


  </div>
  <div class="map" id="map" style=" height: 600px"></div>
</div>
