<footer class="footer">
  <picture>

    <img loading="lazy" src="img/services-bg.png" class="footer__bg" width="1080px" height="720px" alt="footer__bg">
  </picture>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__content">
        <div class="footer__left">
          <div class="footer__logo">
            <a href="#">
              <picture>
                <source srcset="img/logo.webp" type="image/webp">
                <img loading="lazy" src="img/logo.png" class="footer__img" width="160px" height="110px" alt="LOGO">
              </picture>
            </a>
          </div>
          <div class="footer__city">
            Москвa
          </div>
          <div class="footer__text">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum repudiandae optio reprehenderit, officia
              porro iste, a veniam id impedit tempora atque quos culpa aliquam excepturi fugiat quibusdam vitae at
              magni!
            </p>
          </div>
        </div>
        <nav class="footer__menu">
          <ul>
            <li>
              <a href="">О нас</a>
            </li>
            <li>
              <a href="">Услуги</a>
            </li>
            <li>
              <a href="">Барберы</a>
            </li>
            <li>
              <a href="">Контакты</a>
            </li>
          </ul>
        </nav>
        <div class="footer__right">
          <p>Телефон
          </p>
          <a class="footer__phone" href="tel:+79035435422">+7 903 543 54 22
          </a>
          <p>Режим работы
          </p>
          <p>c 10:00 до 22:00
          </p>
          <button class="btn">Записаться</button>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__copyright">
          <p>© 2014- 2022 <span> Барбершоп “PORT” </span>. Все права защищены</p>
        </div>
        <div class="footer__social">
          <a href="#"><img src="img/svg/vk.svg" alt="vk"></a>
          <a href="#"><img src="img/svg/yt.svg" alt="yt"></a>
        </div>
        <div class="footer__text">
          <a href="#">Политика конфиденциальности</a>

        </div>
      </div>
    </div>
  </div>
</footer>
