<div class="container">
  <h4 class="form__title">
    Вы всегда можете связаться с нами

  </h4>
  <form action="#" class="form">
    <label class="form__label">
      <div class="form__left">
        <input type="text" name="Имя" class="input-reset form__input" placeholder="Имя">
        <input type="tel" name="Телефон" class="input-reset form__input" placeholder="Телефон">
        <input type="text" name="Сообщение" class="input-reset form-text" placeholder="Сообщение">
      </div>
      <div class="form__right">
        <input type="file" name="Сообщение" class="input-reset form-text" placeholder="Сообщение">
        <button class="btn-reset form__btn">Отправить</button>
      </div>

    </label>

  </form>
</div>
