<header class="header">
  <div class="container">
    <div class="header__menu  ">
      <a href="#">
        <picture>
          <source srcset="img/logo.webp" type="image/webp">
          <img loading="lazy" src="img/logo.png" class="header__img" width="110px" height="80px" alt="LOGO">
        </picture>

      </a>
      <nav class="header__nav">
        <ul>
          <li>
            <a href="">О нас</a>
          </li>
          <li>
            <a href="">Услуги</a>
          </li>
          <li>
            <a href="">Барберы</a>
          </li>
          <li>
            <a href="">Сертификаты
            </a>
          </li>
          <li>
            <a href="">Франшиза</a>
          </li>
          <li>
            <a href="">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__city-social">
        <div class="header__menu-city">
          <div class="header__city">

            <a class="header__city-name" href="#">Москва</a>
            <ul class="header__cities">
              <li>
                <a href="#">Санкт-Петербург</a>
              </li>
              <li>
                <a href="#">Курск</a>
              </li>
              <li>
                <a href="#">Тюмень</a>
              </li>
              <li>
                <a href="#">Саратов</a>
              </li>
              <li>
                <a href="#">Пенза</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="header__social">
          <a href="#"><img src="img/svg/vk.svg" alt="vk"></a>
          <a href="#"><img src="img/svg/yt.svg" alt="yt"></a>


        </div>
      </div>
      <div class="header__right">
        <a class="header__phone" href="tel:+79035435422">+7 903 543 54 22
        </a>
        <button data-graph-path="modal" class="btn">Записаться</button>
      </div>
    </div>
  </div>




</header>
<button class="burger " aria-label="Открыть меню" aria-expanded="false" data-burger>
  <span class="burger__line"></span>
</button>

<button data-graph-path="modal" class="btn btn-adaptive">Записаться</button>
<div data-menu class="header__adaptive">
  <div class="header__adaptive-content">
    <div class="header__adaptive-top">
      <a href="#">
        <picture>
          <source srcset="img/logo.webp" type="image/webp">
          <img loading="lazy" src="img/logo.png" class="header__img" width="100px" height="70px" alt="LOGO">
        </picture>
      </a>
      <a class="header__phone" href="tel:+79035435422">+7 903 543 54 22
      </a>
    </div>
    <nav class="header__nav">
      <ul>
        <li>
          <a href="">О нас</a>
        </li>
        <li>
          <a href="">Услуги</a>
        </li>
        <li>
          <a href="">Барберы</a>
        </li>
        <li>
          <a href="">Сертификаты
          </a>
        </li>
        <li>
          <a href="">Франшиза</a>
        </li>
        <li>
          <a href="">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="header__city-social">
      <div class="header__menu-city">
        <div class="header__city">

          <a class="header__city-name" href="#">Москва</a>
          <ul class="header__cities">
            <li>
              <a href="#">Санкт-Петербург</a>
            </li>
            <li>
              <a href="#">Курск</a>
            </li>
            <li>
              <a href="#">Тюмень</a>
            </li>
            <li>
              <a href="#">Саратов</a>
            </li>
            <li>
              <a href="#">Пенза</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__social">
        <p>Мы в Соц. Сетях</p>
        <div class="header__social-vk-yt">
          <a href="#"><img src="img/svg/vk.svg" alt="vk"></a>
          <a href="#"><img src="img/svg/yt.svg" alt="yt"></a>
        </div>

      </div>
    </div>

  </div>
</div>
