<button class="phone-btn z-index-up" aria-label="Открыть меню" aria-expanded="false" data-phone-btn>

  <img loading="lazy" src="img/svg/phone-image.svg" class="phone-image" width="40px" height="40px" alt="phone-image">

</button>
<div class="phone-wave"></div>

<button class="phone-btn z-index-down" aria-label="Открыть меню" aria-expanded="false">
  <p>Перезвоним через 25 секунд</p>

</button>





<div data-phone class="phone">
  <form action="#" class="form">
    <label class="form__label p-b">
      <input type="text" name="Телефон" class="input-reset form__input" placeholder="Ваш номер телефона">
    </label>
    <button class="form__btn">Отправить</button>
  </form>
</div>
