<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal">

    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">X</button>

    <h4 class="form__title padding-modal">
      Вы всегда можете связаться с нами

    </h4>
    <form action="#" class="form">

      <label class="form__label modal">
        <div class="form__left">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="Имя">
          <input type="tel" name="Телефон" class="input-reset form__input" placeholder="Телефон">
          <input type="text" name="Сообщение" class="input-reset form-text" placeholder="Сообщение">
        </div>
        <div class="form__right">
          <input type="file" name="Сообщение" class="input-reset form-text" placeholder="Сообщение">
          <button class="btn-reset form__btn">Отправить</button>
        </div>

      </label>

    </form>
  </div>
</div>
