<div class="services">
  <picture>

    <img loading="lazy" src="img/services-bg.png" class="services__bg" width="0" height="0" alt="services__bg">
  </picture>
  <div class="container">
    <div class="services__content">
      <h3 id="services" class="title">
        Услуги и цены
      </h3>
      <div class="tabs" data-tabs="tab">
        <ul class="tabs__nav">
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn" type="button">Стрижки</button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn" type="button">Борода и Бритье</button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn" type="button">Уход</button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn" type="button">Доп.Сервис</button>
          </li>
        </ul>
        <div class="services__table">
          <div>
            Название услуги
          </div>
          <div>
            Барбер
          </div>
          <div>
            Старший барбeр
          </div>
          <div>
            Топ барбер
          </div>
        </div>
        <div class="tabs__content">
          <div class="tabs__panel">
            <div class="services__line"></div>
            <div class="services__items">
              <p> <span> Мужская стрижка </span> <br> 45 мин/1 час</p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
              <p><span> Мужская стрижка </span> <br>45 мин/1 час</p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
              <p>

                <span> Мужская стрижка </span><br> 45 мин/1 час
              </p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
              <p><span> Мужская стрижка </span> <br> 45 мин/1 час</p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
            </div>
            <div class="services__line"></div>
          </div>
          <div class="tabs__panel">
            <div class="services__line"></div>
            <div class="services__items">
              <p> <span> Моделирование бороды </span> <br> 45 мин/1 час</p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
              <p><span> Стрижка усов и бороды </span> <br>30 минут</p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
              <p>

                <span> Бритье опасной бритвой от DEPOT
                </span><br> 45 мин/1 час
              </p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
              <p>
                <span> Бритье головы от DEPOT
                </span>
                <br> 1 час
              </p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
            </div>
            <div class="services__line"></div>
          </div>
          <div class="tabs__panel">
            <div class="services__line"></div>
            <div class="services__items">
              <p> <span> Особый уход для лица от DEPOT </span> <br> 1 час</p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
              <p><span> Уход за лицом London Grooming
                </span> <br>45 мин</p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
              <p>
                <span>Уход за лицом Volcano (basic / intensive care)
                </span><br> 30 минут
              </p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
              <p><span> Уход за кожей головы и волосами THEO
                </span> <br> 30 минут</p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
            </div>
            <div class="services__line"></div>
          </div>
          <div class="tabs__panel">
            <div class="services__line"></div>
            <div class="services__items">
              <p> <span> Камуфляж бороды
                </span> <br> 15 мин</p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
              <p><span> Камуфляж головы
                </span> <br> 30 мин </p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
              <p>

                <span> Стрижка машинкой
                </span><br> 30 минут
              </p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
              <p><span> Детская стрижка
                </span> <br> 45 мин/1 час</p>
              <p>2000 руб</p>
              <p>2300 руб</p>
              <p>2700 руб</p>
            </div>
            <div class="services__line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>
